<form action="/cars/add" method="post">
  <div class="form-group">
    <label for="makeModel">Make Model</label>
    <input type="text" name="makeModel" id="makeModel">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" name="price" id="price">
  </div>
  <div class="form-group">
    <label for="miles">Miles</label>
    <input type="number" name="miles" id="miles">
  </div>
  <div class="form-group">
    <label for="carNote">Note</label>
    <input type="text" name="carNote" id="carNote">
  </div>
  <button type="submit">Post</button>
</form>
