<h1>@Model.GetMakeModel()</h1>
<ul>
  <li>@Model.GetPrice()</li>
  <li>@Model.GetMiles()</li>
  <li>@Model.GetCarNote()</li>
</ul>
<a href="/cars/add">Add another car.</a>
<a href="/cars">View all cars.</a>
